@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* EAT Cycling brand colors */
  --color-deep-blue: #032DA5;
  --color-navy-blue: #002EA1;
  --color-bright-pink: #FE13FE;
  --color-medium-blue: #0561B4;
  --color-dark-blue: #002F9D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  
  /* EAT Cycling colors */
  --color-deep-blue: #032DA5;
  --color-navy-blue: #002EA1;
  --color-bright-pink: #FE13FE;
  --color-medium-blue: #0561B4;
  --color-dark-blue: #002F9D;
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
